<html>
<body>
<div style="width:500px; margin:0 auto;"><br><br>

	<h1>Add a Project to Database</h1>

	<img src="/static/clueless.jpg" style="width:350px;"><br><br>
	
	<form action="/project_add_create">
		<label for="project">Project: </label>
		<input type="text" name="project" /><br/><br/> 
		<label for="project_desc">One-line description: </label>
		<input type="text" name="project_desc" /><br/><br/> 
		<label for="max_grade">Highest grade possible: </label>
		<input type="text" name="max_grade" /><br/><br/> 
		<input type="submit">
	</form>

</div>
</body>
</html>