<html>
<body>
<!-- <h1>Student: {{first_name}} {{last_name}}</h1> -->
<div style="width:500px; margin:0 auto;"><br><br>
<img src="/static/avatar.jpg"><br><br>

<h2>Github account: {{github}}</h2>

{% for grade in grades %}
Project: <a href="/students_and_grades?project={{ grade[0] }}">{{ grade[0] }}</a><br/>
Grade: {{ grade[1] }}</a><br/><br/>
{% endfor %}

<h2>Do more stuff:</h2>
<ul><li><a href="/grade_add">Add a Grade</a></li></ul>

<h2>Bottom line:</h2> 
<p>This student has shown potential and grit. Hard work pays off!</p>
</div>
</body>
</html>